/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Styling Nav Bar */

/* * {
  outline: 1px solid #f00 !important;
} */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Setting Header and Image inside it to vh & vw to 100! */
.fullVP{
  width: 100vw;
  height: 100vh;
}

/* Universal CSS Classes */

.noBtnStyle {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none
}

.sideRightBorder {
  border-right: 3px solid green;
}

.devBetweenBorder {
  border-right: 3px solid green;
}

.textGray {
  color: slategray;
  font-weight: bold;
}

.textWhite {
  color: white;
  width: 100%;
  height: 100%;
}

.bg-white {
  color: white;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  position: sticky;
  z-index: 25;
}

.upperPadding20 {
  padding-top: 20px;
}

.upperPadding {
  padding-top: 50px;
}

.sidePadding {
  padding: 0px 60px;
}

.center {
  display: flex;
  justify-content: center;
}

.imageLink {
  text-decoration: none;
}

.displayNo {
  display: none;
}

.displayYes {
  display: block;
}

/* Overall Pages & Components Styling */

.navlinks {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.noStyle {
  text-decoration: none;
}


.navText {
  font-size: 22px;
  color: gray;
}

.navBtnStyle {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-right: 20px;
}

.flexIt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.active {
  background-color: green;
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  padding: 0px 7px;
}

.activeText {
  font-size: 22px;
  color: white;
  font-weight: bold;
}

.sidenav {
  height: 100%;  
  width: 100%;  
  position: fixed; 
  z-index: 99; 
  top: 0; 
  right: 0; 
  background-color: forestgreen; 
  transition: .5s ease; 
  overflow-x: hidden; 
  padding-top: 10px;  
}

.sidenav-item {
  margin: 0px 5px;
  padding: 5px;
}

.sidenavStyle {
  color: white;
  font-size: 22px;
  text-decoration: none;
}

.closeNavBtn {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-right: 15px;
}

.stylingImageDiv{
  height: 80%;
  width: 100%; 
}

.header {
  height: 82px;
  /* width: 100%; */
  top: 0;
}

.overImage {
  z-index: 5;
  height: fit-content;
  background-color: green;
  display: flex;
  justify-content: center;
  transition: 1s;
}

.imageStyle {
  width: 100%; 
  height: 80%;
}

.setPos {
  position: relative;
}

.bottomBoxOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  z-index: 9;
  display: flex;
  justify-content: center;
  transition: 1s;
}

.imageTextOverlay {
  position: absolute;
  right: 15%;
  bottom: 50%;
  color: white;
  padding: 4px;
  font-size: 17px;
  line-height: 50px;
  z-index: 9;
  border-right: 2px solid gold;
}

.textOverlay {
  width: fit-content;
  height: auto;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 2px white;
  border-radius: 0px 2px 2px 0px;
}

.box {
  background-color: green;
  width: 60%;
  color: green;
  border-radius: 2px 2px 0px 0px;
}

.lilNavText {
  margin: 1px 20px;
  color: white;
  font-size: 20px;
}

.full {
  height: 100%;
  width: 100%;
}

.half {
  height: auto;
  width: auto;
}

.labelStyle {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: end;
}

.phoneDisplay {
  display: none;
}

.formStyle {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 5px 10px 18px black;
  background-color: whitesmoke;
}

.borderRight {
  border-right: 4px solid white;
  padding: 10px;
}

.test123 {
  background-color: gray;
}

.sizeFormLogo {
  width: 26px;
  height: 26px;
  margin-right: 20px;
}

.formHeaderText {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-bottom: 0px;
  text-shadow: 5px 1px 2px black;
}

/* About Us Styling Content */

.aboutUsHeader {
  color: green;
  font-size: 30px;
  font-weight: bold;
}

.aboutUsText {
  font-size: 18px;
}

.purposeText {
  color: slategray;
  font-size: 30px;
  padding-right: 10px;
}

/* Team Styling */

.teamHeader {
  color: gray;
  font-size: 30px;
  font-weight: bold;
}

.bg-teamPhotos {
  background-color: rgb(245, 241, 241);
  border-radius: 2px;
}

.styleTeamPhotos {
  width: 100%;
  max-height: 340px;
  border-radius: 2px;
  border: 1px solid black;
}

.nameStyle {
  font-size: 20px;
  color: green;
  font-weight: bold;
  display: flex;
}

.jobStyle {
  font-size: 18px;
  display: flex;
}

.emotiBox {
  background-color: lightgray;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  margin: 3px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-blue {
  background-color: blue;
  font-weight: bold;
}

/* Properties Styling */

.container-31 {
  border-left: 0px none transparent;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.largePhoto {
  max-width: 940px;
  max-height: 550px;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.propertyName {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

.spaceBetweenThumbs {
  margin: 0px 5px;
}

.propertyNameThumb {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.navLinkTo {
  font-size: 22px;
  font-weight: bold;
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: end;
}

.bottomBorder {
  border-bottom: 1px gray solid;
}

.thumbnails {
  width: 300px;
  height: 200px;
  border-radius: 2px;
}

.positionRE {
  position: relative;
}

.positionAB {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: green;
  color: green;
}

.positionAB2 {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 50;
  width: 100%;
  background-color: green;
  color: green;
  font-size: 10px;
}

.hide {
  display: none;
}

/* Styling Development Page */

.height80 {
  height: 80%
}

.developImageContainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: fit-content;
}

.titleDevs {
  font-size: 32px;
  font-weight: bold;
  width: fit-content;
  height:fit-content;
  border-bottom: 1px solid black;
  border-radius: 1px;
  padding: 5px;
  box-shadow:rgb(122, 110, 110);
  -moz-box-shadow: 5px 5px 5px #222;
  -webkit-box-shadow: 5px 5px 5px #222;
  box-shadow: 5px 5px 5px #222;
}

.textAlignment {
  text-align: end;
  padding-right: 5px;
}

.devBetweenDisplay {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.paddingRight5 {
  padding-right: 5;
}
.styleCurDevImgsSm {
  max-width: 100%;
  height: 300px;
  /* height: 100%; */
  border: 1px solid black;
  border-radius: 2px;
  opacity: 100%;
}

.developImageContainerSm {
  width: 100%;
  height: 300px;
  /* height: 100%; */
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 3;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.styleCurDevImgs {
  max-width: 100%;
  border: 1px solid black;
  border-radius: 2px;
}

.dotDiv {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 5px 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeDot, .dot:hover {
  background-color: #717171;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  0% {opacity: .4}
  100% {opacity: 1}
}

@keyframes fade {
  0% {opacity: .4}
  100% {opacity: 1}
}

/* Style Footer to bottom of page */
.footer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: fit-content;
  background-color: #f5f5f5;
  border-top: 2px solid var(--navColor);
}

.footerPadding {
  padding-bottom: 50px;
}

@media only screen and (max-width: 992px){
  .phoneDisplay{
    display: block;
  }

  .webDisplay {
    display: none;
  }

  .navContainer {
    display: flex;
    justify-content: space-between;
  }

  .fullVP {
    width: auto;
    height: auto;
  }

  .container-31{
    margin: 0px 15px;
  }

  .spaceBetweenThumbs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 991px){
  .devBetweenDisplay {
    align-items: center;
  }

  .textAlignment {
    text-align: center;
  }

  .devBetweenBorder {
    border-right: none;
    border-bottom: 3px solid green;
  }
}

@media only screen and (max-width: 531px){
  .half {
    height: auto;
    width: 80%;
  }
}

/* Adjusting Text inside image with various Media Screens */

@media only screen and (max-width: 950px){
  .textOverlay {
    font-size: 45px;
  }
}

@media only screen and (max-width: 750px){
  .textOverlay {
    font-size: 40px;
  }
}

@media only screen and (max-width: 650px){
  .textOverlay {
    font-size: 30px;
  }

  .imageTextOverlay {
    bottom: 50%;
    line-height: 40px;
  }
}

@media only screen and (max-width: 525px){
  .textOverlay {
    font-size: 22px;
    height: fit-content;
  }

  .imageTextOverlay {
    bottom: 50%;
    line-height: 25px;
  }
}

@media only screen and (max-width: 400px){
  .textOverlay {
    font-size: 16px;
  }

  .imageTextOverlay {
    bottom: 50%;
    line-height: 20px;
  }
}

/* Styling Hover Elements */
.noStyle:hover {
  color: white;
}

/* a:hover {
  font-weight: bold;
} */

.flexIt:hover {
  background-color: lightgray;
}

.show:hover + .hide {
  display: block;
}

.navLinkTo:hover {
  color: rgb(122, 110, 110)
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

